<div class="ds-reference">
  <h4 class="ds-reference-title">
    {{ items.title|raw }}
  </h4>
  {% if items.author is not empty %}
    <div class="ds-reference-author">
      {{ items.author }}
    </div>
  {% endif %}
  <div class="ds-reference-year">
    {{ items.year }}
  </div>
  {% if items.doi %}
    <div class="ds-reference-doi">
      {{ items.doi }}
    </div>
  {% endif %}
  {% if items.url is not empty %}
    <div class="ds-link">
      <a href="{{ items.url }}" target="_blank" rel="noopener noreferrer">{{ items.url }}</a>
    </div>
  {% endif %}
</div>