<div class="doi-search">
  {{ items.form }}
  {% if not items.empty %}
    <div class="search-result">
    {% if items.result is empty %}
      <h2>{{ 'No results found for that DOI' }}</h2>
    {% else %}
      {{ items.result }}
    {% endif %}
    </div>
    {% if items.references is not empty %}
      <div class="references">
        <h3> {{ 'References'|t }}</h3>
        {% for reference in items.references %}
          {{ reference }}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>