
<div class="doi-search-result">
  <h3 class="ds-title">
    {{ items.title.0|raw }}
  </h3>
  <div class="ds-authors">
    {{ items.formattedAuthors }}
  </div>
  <div class="ds-date">
    <time datetime="{{ items.date_time }}">{{ items.date_text }}</time>
  </div>
  {% if items.abstract %}
    <div class="ds-abstract">
      <h4>{{ 'Abstract'|t }}</h4>
      {{ items.abstract|raw }}
    </div>
  {% endif %}
  <div class="ds-container">
    {{ items['container-title'].0 }}
    {% if items.volume %},{{ items.volume }}{% endif %}
  </div>
  <div class="ds-link">
    <a href="{{ items.URL }}" target="_blank" rel="noopener noreferrer">{{ items.URL }}</a>
  </div>
  {% if items.pdf %}
    <div class="ds-pdf">
      <a href="{{ items.pdf }}" target="_blank" rel="noopener noreferrer">{{ 'Download Pdf'|t }}</a>
    </div>
  {% endif %}
  <div class="ds-type">
    <em>{{ items.type }}</em>
  </div>
</div>